.list-item {
  margin: 20px;
}
.similar-products-image {
  height: 150px;
  border-radius: 10px;
}
.pricy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratings {
  background-color: #3b82f6;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  height: 35px;
}
